body {
    font-family: 'Press Start 2P', monospace;
    background-color: #111;
    color: #f4f4f4;
    padding: 20px;
    image-rendering: pixelated;
}

h1 {
    font-size: 16px;
    margin-bottom: 10px;
}

input {
    font-family: inherit;
    padding: 6px;
    font-size: 12px;
    border: 2px solid #444;
    background: #222;
    color: #fff;
    outline: none;
}

button {
    font-family: inherit;
    margin-left: 8px;
    padding: 6px 10px;
    font-size: 12px;
    background: #333;
    color: #fff;
    border: 2px solid #555;
    cursor: pointer;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    background: #1e1e1e;
    padding: 8px;
    margin-bottom: 8px;
    border: 2px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    li button {
        margin: 0;
        background: #a00;
        border-color: #c00;
    }
